
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Ramaraja', 'Montserrat',;
  }
   
  .wrapper{
    width: 1600px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 69px;
    height: 60px;
    margin-top: 30px;
  }
  
  .main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main_nav, .main_menu{
    display: flex;
    list-style: none;
  }

  .main_nav, .main_menu li a{
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   font-size: 16px;
   color: #1B0A42;
   
  }

.logo {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #0A1B32;

}

.logo_dot {
  color: #4F56F1;
}

.main_nav, .main_menu li a.btn1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

.btn1{
  color: #FFFFFF;
  background: #4F56F1;
  border-radius: 6px;
  padding: 18px 31px;
  margin-left: 40px;
  
}

.btn {
  margin-left: 752px;
}

.main {
  margin-left: 39px;
}
 
.main_section {
  width: 1600px;
  display: flex;
}

.main_section .left h1 {
  margin-top: 190px;
  margin-right: 40px;
  font-family: 'Ramaraja', serif; 
  font-weight: normal;
  font-size: 72px;
  color: #1B0A42;
}

.main_section .left p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #9A9A9A;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 127px;
}

.main_section .left .btn3{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.main_section .left a.btn3 {
  color: #FFFFFF;
  background-color: #4F56F1;
  border-radius: 6px;
  padding: 18px 32px;
 
}

.main_section .right {
  margin-right: 99px;
  margin-top: 74px;
}
